*, ::after, ::before
{
	/* removed default styling */
	padding: 0;
	margin: 0;
	text-decoration: none;
	border: 0;
	background: none;
	font-family: minecraft;
	box-sizing: border-box;
	color: white;
	font-size: 100%;
	list-style-type: none;
}

*:focus
{
	/* removed default styling */
	outline: none;
}

.desktop-only
{
	display: initial;
}


.mobile-only
{
	display: none;
}

h1
{
	font-weight: normal;
	font-family: minecraft-bold;
}

body
{
	overflow-x: hidden;
	background: var(--waterBlue);
}

.pixel-perfect
{
	-ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
}

nav
{
	width: 100vw;
	height: var(--navBarHeight);
	background: linear-gradient(180deg, var(--skyDarkBlueTop) 0%, var(--skyDarkBlueBot) 75%);
	padding: 10px 25px;
	box-shadow: var(--perspectiveBoxShadow);
	border-bottom: 2px solid black;
	position: fixed;
	display: flex;
	top: 0;
	z-index: 10;
}

#nav-content
{
	width: 1500px;
	display: block;
	margin: 0 auto;
}

nav .left
{
	display: inline-flex;
	justify-content: left;
	align-items: center;
	height: 100%;
	float: left;
	flex-basis: 40%;
}

nav .right
{
	display: inline-flex;
	justify-content: right;
	align-items: center;
	height: 100%;
	float: right;
	flex-basis: 60%;
}

nav .left img
{
	height: 100%;
	box-sizing: border-box;
}

#nav-logo
{
	padding: 0 20px 0px 0px;
}

#nav-logo:hover
{
	background: none;
	border: none;
}

#join-now-button
{
	background: linear-gradient(180deg, var(--logoLimeGreen) 0%, var(--logoLimeGreen2) 100%);
	height: 100%;
	padding: 0 30px;
	color: var(--logoDarkGreen);
	font-weight: bold;
	font-size: 1.75em;
	border: 2px solid var(--logoDarkGreen);
	box-shadow: var(--centeredBoxShadow);
}

#join-now-button:hover
{
	cursor: pointer;
	background: var(--logoDarkGreen);
	color: var(--logoLimeGreen);
	border: 2px solid var(--logoLimeGreen);
}

a:hover
{
	border-bottom: 2px dotted white;
}

nav a 
{
	color: white;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 25px;
	font-size: 1.25em;
	text-shadow: var(--mcTextShadow);
	line-height: calc(var(--navBarHeight) / 1.35);
}

nav a:hover
{
	background: rgba(0,0,0,0.15);
	border-bottom: solid 5px rgba(0, 0, 0, 0.15);
}


header
{
	height: 880px;
	width: 100vw;
	/*background: linear-gradient(180deg, var(--newSkyBlueTop) 0%, var(--newSkyBlueBot) 75%);*/
	background-image: url('../images/homepage/World2.png');
	background-position: center;
	background-size: auto 100%;
	background-repeat: repeat-x;
	margin-top: var(--navBarHeight);
	position: relative;
}

#trailer
{
	display: block;
	position: absolute;
	top: 368px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	height: 181px;
	width: 362px;
}

#header-world
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}


#page-content
{
	width: 95vw;
	margin: 0 auto;
	max-width: 1500px;
}

.content-row
{
	display: flex;
	justify-content: center;
	position: relative;
}

.content-row .card
{
	padding: 0 20px;
	flex-basis: 100%;
}

#showcase-features
{
	display: flex;
	justify-content: center;
	position: relative;
	top: -120px;
	margin: 0 auto -120px;
	overflow: hidden;
}

#showcase-features .card
{
	height: 450px;
	margin: 0 15px 40px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-self: start;
	min-width: 150px;
	padding: 0px;
}

.card img
{
	width: 100%;
	border: 2px solid black;
	box-shadow: var(--centeredBoxShadow);
	margin: 0 0 6px 0;
}

.card h1
{
	font-size: 1.25em;
	margin: 6px 0;
}

.card .info
{
	text-shadow: var(--mcTextShadow);
}

footer
{
	background-image: url('../images/footer_bg.png');
	background-size: 64px;
	width: 100vw;
	text-align: center;
	padding: 32px;
	box-shadow: var(--centeredBoxShadow);
	border-top: 2px solid black;
	margin-top: 50px;
}

.fullscreen-iframe
{
	margin-top: var(--navBarHeight);
	width: 100vw;
	height: calc(100vh - var(--navBarHeight));
	margin-bottom: -5px;
}

.info-graphic-banner
{
	width: 100%;
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, 0.7);
	margin: 0 0 50px;
	border: 2px solid black;
}

.info-graphic-banner .info
{
	flex-basis: 45%;
	min-height: 300px;
	padding: 15px;
}

.info-graphic-banner .info a
{
	color: rgb(64, 64, 64);
	border-bottom: 2px dotted rgba(64, 64, 64,0.5);
}

.info-graphic-banner .info a:hover
{
	color: white;
	border-bottom: 2px dotted white;
}

.info-graphic-banner .graphic
{
	flex-basis: 55%;
	background-image: url('../images/homepage/ModernBetaSS1.png');
	background-size: cover;
	border-right: 2px solid black;
	background-position: center bottom;
}

.info-graphic-banner h1
{
	color:black;
	font-size: 1.5em;
	margin: 0 0 8px;
}

.info-graphic-banner p
{
	color:black;
	font-size: 1.2em;
}

.button-card
{
	margin: 15px;
	flex-basis: 100%;
	height: 360px;
	background: gray;
	background-size: cover;
	background-position: center;
	display: flex;
	border: 2px solid black;
}

.button-card:hover
{
	transform: scale(1.02);
	border: 2px solid white;
}

.button-card .info
{
	align-self: flex-end;
	text-shadow: var(--mcTextShadow);
	display: block;
	padding: 15px;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.65));
	width: 100%;
}

#showcase-features > .card:last-child {
    margin-right: 0;
}

#showcase-features > .card:first-child {
    margin-left: 0;
}

.content-row,.content-row-2 > .button-card:last-child {
    margin-right: 0;
}

.content-row,.content-row-2 > .button-card:first-child {
    margin-left: 0;
}

#dynmap
{
	background-image: url('../images/homepage/isometric.jpg');
}

#discord
{
	background-image: url('../images/homepage/discord_banner.jpg');
}


.more-info-button
{
	display: inline-block;
	color:black !important;
	padding: 15px;
	font-size: 1.2em;
	background: white;
	border: 2px solid black !important;
	float: right;
	margin: 8px 0 0 0;
}

.more-info-button:hover
{
	border: 2px solid white !important;
	background: black;
	color: white !important;
}

.content-row-2
{
	display: flex;
	justify-content: center;
	position: relative;
}