/* Hide scrollbar for mobile */
::-webkit-scrollbar { display: none; }

body
{
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.desktop-only
{
	display: none !important;
}

header
{
	height: 700px;
}

#trailer
{
	top: 292px;
	height: 145px;
	width: 288px;
}


.mobile-only
{
	display: initial;
}

nav
{
	padding: 10px 15px;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: space-between;
}

#nav-links a 
{
	padding: 0 0px;
}

nav .left img
{
	margin: 0px;
}

nav .right
{
	display: flex;
	align-items: center;
	height: 100%;
}


#nav-menu-btn
{
	display: block;
	height: 100%;
}

#nav-menu-btn img
{
	height: 100%;
	padding: 10px;
}

#nav-menu-btn:hover
{
	cursor: pointer;
}

#showcase-features
{
	overflow-x: scroll;
	justify-content: left;
	-webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
  	mask-image: linear-gradient(to right, black 80%, transparent 100%);
  	padding: 0px 80px 0 15px;
  	top: -105px;
	margin: 0 auto -105px;
	position: relative;
	left: -15px;
}

#showcase-features .card
{
	height: 450px;
	margin: 0 15px 0px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-self: start;
	min-width: 200px;
	padding: 0px;
}


.more-info-button
{
	float: left;
}

.info-graphic-banner
{
	flex-direction: column;
	margin-bottom: 40px;
}

.info-graphic-banner .info
{
	min-height: 0px;
}

.info-graphic-banner .graphic
{
	min-height: 300px;
	border-right: none;
	border-bottom: 2px solid black;
}

#join-now-button-alt
{
	background: linear-gradient(180deg, var(--logoLimeGreen) 0%, var(--logoLimeGreen2) 100%);
	padding: 15px 50px;
	color: var(--logoDarkGreen);
	font-weight: bold;
	font-size: 2em;
	border: 2px solid var(--logoDarkGreen);
	box-shadow: var(--centeredBoxShadow);
	width: 80%;
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
}

#join-now-button-alt:hover
{
	cursor: pointer;
	background: var(--logoDarkGreen);
	color: var(--logoLimeGreen);
	border: 2px solid var(--logoLimeGreen);
}

.content-row-2
{
	display: flex;
	justify-content: center;
	position: relative;
	flex-direction: column;
	height: 720px;
}

.button-card
{
	margin: 0 0 40px;
}

footer
{
	margin-top: 0px;
	padding: 20px 5px;
}

#mobile-nav-dropdown
{
	display: none;
	position: absolute;
	text-align: center;
	top: var(--navBarHeight);
	right: 0;
	background-image: url('../images/backgrounds/mobile_nav_bg.png');
	background-size: 64px;
	height: calc(100vh - var(--navBarHeight));
	padding: 15px 0;
	border-left: 2px solid black;
	box-shadow: var(--perspectiveBoxShadow);
	z-index: 9;
}

#mobile-nav-dropdown a
{
	display: block;
	height: auto;
	line-height: calc(var(--navBarHeight) / 1.35);
	padding: 0 40px;
	font-size: 1.25em;
	text-transform: uppercase;
	text-shadow: var(--mcTextShadow);
}

#mobile-nav-dropdown a:hover
{
	background: rgba(0,0,0,0.25);
	border-bottom: none;
}

#socials-grid
{
	width: 100%;
}

#rules th
{
	display: none;
}

#rules td
{
	display: block;
	margin: 0px 0px 25px 0px;
}

#rules ol
{
	border: none;
	padding: 20px 0px 0px;
}

#rules td[data-th]:before
{
	content: attr(data-th);
	font-size: 2em;
	font-family: minecraft-bold;
}